.middle-component-container {
  min-height: 100vh;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  box-shadow: 0 0 12px rgb(0 0 0 / 20%);
}
li {
  list-style: none;
}
.main-box {
  display: flex;
}
.middle-nav {
  background-color: rgba(231, 231, 231, 0.933);
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

h3 {
  color: #333333;
  font-weight: 500;
}
.top-btns {
  display: flex;
  gap: 0.8rem;
}
.middle-nav button {
  font-size: 1rem;
  padding: 0.5rem 0.9rem;
}
.top-btns button,
.middle-bottom button,
.tweet,
.facebook,
.nav-sign-up button {
  border-bottom: 2px solid #ddd;
  border-radius: 0.4rem;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.nav-sign-up button {
  background-color: #5bc5a7;
  padding: 0.3rem 0.4rem;
  border: 1px solid #ddd;
  cursor: pointer;
  color: white;
  font-size: 1.3rem;
}
.Success-login-msg {
  margin-top: 10rem;
}
.nav-sign-up button:hover {
  transform: scale(1.02);
}
.settle-up button {
  background: #5bc5a7;
  text-shadow: 0 -1px 0 #318970;
}
.settle-up button:hover {
  background: #5bc5a7;
}
.middle-bottom {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.middle-bottom img {
  width: 9.3rem;
  margin-left: 1rem;
}
.middle-bottom-text {
  margin-top: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.middle-bottom h3 {
  color: #333333;
  font-weight: 600;
}
.middle-bottom p {
  color: #999;
  font-size: 1.2rem;
}
.middle-bottom button {
  font-size: 1.1rem;
}
.middle-bottom i {
  font-size: 1rem;
}
.middle-bottom .user {
  margin-right: 0.4rem;
  margin-left: -0.2rem;
}
.right-component h5 {
  color: #999999;
  font-size: 1.3rem;
}
.right-textContainer {
  background-color: #eeee;
  padding: 1rem;
}
.right-textContainer p {
  color: rgb(84, 83, 83);
}
.social {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.3rem;
  color: #fff;
  text-shadow: none;
  opacity: 0.9;
  height: auto;
  margin: 0;
  padding: 2px 10px 2px 3px;
  font-size: 14px;
  border-left: none;
  margin-top: 10px;
}
.facebook,
.tweet {
  background: #3b5998;
  color: white;
  width: 8rem;
  border-radius: 0.3rem;
  outline: none;
  border: none;
}
.tweet {
  background: #4099ff;
}

/* right-component */

.right-contianer {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.dashboard {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-end;
  gap: 0.3rem;
  margin-bottom: 0;
}

.dashboard img {
  width: 1.4rem;
  margin-bottom: 0.3rem;
}
.dashboard p {
  margin-bottom: 0;
  color: #5bc5a7;
  font-weight: 700;
}
.table-bordered {
  color: #212525;
  background-color: rgba(231, 231, 231, 0.933);
  border: 2px solid #ddd;
  text-align: center;
  color: rgb(75, 75, 75);
  font-size: 1.3rem;
  margin-bottom: 0;
}
.table-bordered .price {
  color: #4ec2a1;
  margin-bottom: 0;
}
.recent-activity {
  display: flex;
  gap: 0.6rem;
  color: #999;
}
.expenses {
  color: #999;
}
.sec-type {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 0.8rem;
  align-items: center;
  font-size: 0.7rem;
  background-color: #f6f6f6;
  border-bottom: 0.01rem solid #ddd;
}
.message-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  text-align: center;
  gap: 4rem;
}
.message-date p {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 700;
  color: #999999;
}
.message-date h6 {
  align-self: center;
  font-weight: 500;
  font-size: 1.06rem;
}
.spent-status p {
  color: #878787;
}
.spent-status {
  display: flex;
  gap: 1rem;
  letter-spacing: 0.03rem;
}
.lent strong {
  color: #5bc5a7;
}
.message-container p {
  margin-bottom: 0;
}
.sec-type p {
  padding: 0;
  margin-bottom: 0;
  color: #999;
}
.sec-text-area {
  font-size: 0.8rem;
  text-align: center;
  color: rgb(177, 177, 177);
}
.sec-text-area {
  text-align: left;
}
.sec-text-area h6 {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.28rem;
}
.sec-text-area i {
  margin: 0 0.3rem;
  font-size: 0.8rem;
}
.sec-text-area li:hover {
  background: #eeeeee;
  cursor: pointer;
}

.intial-sec-content {
  margin: 0 2.3rem;
  text-align: center;
  font-size: 1rem;
}
.sec-type div {
  color: #999;
}

.sec-type i {
  margin-right: 0.3rem;
}
.invite-input {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 0.5rem;
  border: 0.01rem solid #ddd;
}
.invite-input input {
  width: 10rem;
  padding: 0.3rem;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 3px;
}
.invite-input button {
  background: #e6e6e6;
  font-size: 0.8rem;
  padding: 0.1rem 0.3rem;
  align-self: flex-start;
}
.invite-header {
  background: #5bc5a7;
  color: #fff;
  border: 1px solid #39a385;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 0.15rem 0.5rem;
  text-shadow: 0 -1px 0 #3eaf8f;
}
.social-left .tweet,
.social-left .facebook {
  color: #fff;
  opacity: 0.9;
  font-size: 0.9rem;
}
.social-left {
  display: flex;
  gap: 0.4rem;
  margin-top: 1rem;
}
.social-left button {
  padding: 0.3rem 0.2rem;
  display: flex;
  width: 5.1rem;
}
.social-left img {
  width: 1.5rem;
  margin-top: -0.1rem;
}
.Success-login-msg {
  text-align: center;
}
.right-title {
  color: rgb(134, 134, 134);
}
.right-part-member {
  display: flex;
  gap: 1rem;
  padding: 0.6rem 0.6rem;
}
.member-data p {
  margin-bottom: 0;
}
.right-part-member img {
  width: 3rem;
}
.userImg img {
  width: 10rem;
}
@media (max-width: 900px) {
  .middle-nav {
    flex-direction: column;
  }
  .middle-bottom img {
    width: 8rem;
  }
  .top-btns button,
  .middle-bottom button {
    font-size: 0.7rem;
  }
  .right-component {
    display: none;
  }
}
@media (max-width: 500px) {
  .main-box {
    flex-direction: column;
    justify-content: center;
  }
}
