* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.error_messages {
  padding: 0.3rem 0.6rem;
  border-color: #b34;
  background: #c45;
  text-shadow: 0 -1px #9a2a38;
  color: #fff;
}

.signup-left-logo img {
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.form-container h6 {
  color: #999;
  line-height: 1.5rem;
  font-weight: 600;
}

.name-input {
  width: 23rem;
  padding: 0;
  font-size: 1.8rem;
}
input[type="text"] {
  padding: 0.2rem;
}

.toppad {
  height: 6rem;
}

.form-container label {
  font-size: 1.5rem;
  color: #333333;
}
.bottom-inputs label {
  font-size: 1.15rem;
}
.bottom-inputs input[type="email"],
.bottom-inputs input[type="password"] {
  padding: 0.2rem;
  font-size: 1.45rem;
}

.signup-btn button {
  background-color: #ff5216;
  color: white;
  text-shadow: 0 -0.09rem 0 #c83400;
  font-size: 1.4rem;
  padding: 0.6rem 1.1rem;
  opacity: 0.92;
}
.signup-btn button:hover {
  opacity: 1;
  background-color: #ff5216;
  color: white;
}

.bottom-btns {
  display: flex;
  justify-content: space-between;
}

.right-btn {
  align-self: center;
  color: #999;
}
.btn-google img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.4rem;
  margin-top: 0.1rem;
}

.btn-google {
  color: #999;
  text-shadow: none;
  text-align: left;
  background: #fff;
  padding: 0.3rem 0.5rem;
  font-size: 0.75rem;
  color: #999;
  background: #fff;
  margin-left: 0.8rem;
}

.btn {
  border-color: #cccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.tos_acceptance {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #999;
  font-size: 0.9rem;
  margin: 1.2rem 0;
}

.tos_acceptance a {
  text-decoration-line: none;
}
.tos_acceptance a:hover {
  text-decoration-line: underline;
}
